.overview{
    display:flex;
    padding:20px;
    background-color: white ;
    height:max-content;

}

.img-container{
    object-fit:contain;
   
}
.overview-img{
    width: 100%;
    margin-bottom: 10px;
}
.card-item{
        background-color:lightgray ;
        width:300px;
        height:200px;
        border:1px ;
        padding:50px;
        margin:20px;
        margin-right:850px;
        display: flex;
        flex-direction: column;
      
       
           
       }
  
h4{
margin-top:30px;
margin-left:150px;
}
.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.partner{
  position:absolute;
  top:70%;
  left:360px;
}

.right-arrow {
    position: absolute;
    top: 100%;
    left: -10px;
    font-size: 2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow {
    position: absolute;
    top: 100%;
    left: -40px;
    font-size: 2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }
  .career-list{
    color:red;
  }